:root {
    --doc-height: 100%;
    --txt-color: #000000;
    --bg-color: #efefef;
    --white: #fff;
    --normal-txt-size: .8rem;
    --large-txt-size: calc(1vw + 2.5rem);
    --small-txt-size: .6rem;
    --general-margin: 1rem;
    --main-margin-y: 20vh;
    --main-margin-x: 5vw;
    --cursor-size: 4rem;
}

body {
    font-family: forma-djr-text, sans-serif;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.5;
    background-color: var(--bg-color);
    cursor: none;
    overflow-x: hidden;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

h2 {
    line-height: 1;
}

footer {
    font-weight: 400;
    font-size: var(--normal-txt-size);
    text-align: center;
    padding-bottom: var(--general-margin);
}

header {
    width: calc(100% - var(--general-margin)*2);
    position: fixed;
    top: var(--general-margin);
    left: var(--general-margin);
    z-index: 9;
    pointer-events: none;
}

img[data-lazyload][data-src] {
    -webkit-filter: blur(160px);
    filter: blur(160px);
}

.button {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: var(--normal-txt-size) var(--large-txt-size);
    border: solid 2px var(--txt-color);
    border-radius: 80px;
    font-family: forma-djr-text, sans-serif;
    font-size: var(--normal-txt-size);
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
    position: relative;
    background-color: transparent;
    cursor: none;
}

.button a:hover {
    color: var(--white);
}

.menu,
.submenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: calc(var(--general-margin)/2);
}

.menu {
    width: 100%;
    margin-bottom: calc(var(--general-margin)/2);
    pointer-events: all;
}

.submenu {
    opacity: 0;
    pointer-events: none;
}

.current {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.page-title.home:hover,
.page-title.projects:hover,
.menu-link:hover,
.page-label p:hover,
p a:hover {
    color: var(--white);
}

.page-title,
.menu-link {
    font-size: var(--normal-txt-size);
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
}

.page-title.home,
.page-title.projects,
.menu-link {
    cursor: pointer;
}

.menu-block {
    padding: var(--normal-txt-size) var(--large-txt-size);
    border: solid 2px var(--txt-color);
    border-radius: 80px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1;
    flex: 0 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--main-margin-x);
    position: relative;
}

.menu-block::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 80px;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    pointer-events: none;
    z-index: -1;
}

.menu-close {
    width: 1rem;
    stroke: var(--txt-color);
    stroke-width: 2px;
    display: block;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
}

.menu-close:hover {
    stroke: var(--white);
}

.menu .menu-block:nth-child(2) {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
}

.submenu .menu-block {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.submenu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--main-margin-x);
}

.submenu-wrapper svg {
    width: 1.3rem;
    stroke: var(--txt-color);
    stroke-width: 2.5px;
    fill: transparent;
    display: block;
}

.submenu-wrapper svg:hover {
    stroke: var(--white);
}

.main-wrapper,
.section-wrapper {
    position: relative;
    padding: var(--main-margin-y) var(--main-margin-x);
}

.section-wrapper:only-of-type {
    min-height: var(--doc-height);
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.overlay.on {
    display: block;
}

.events-separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--general-margin);
    margin: 4rem 0;
}

.events-separator svg {
    width: var(--large-txt-size);
    stroke: var(--txt-color);
    stroke-width: .5px;
}

.events-separator p {
    font-size: var(--small-txt-size);
    font-weight: 400;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.events-wrapper {
    min-width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 6rem;
}

.headline-block {
    position: relative;
    pointer-events: none;
}

.headline-block.unfiltered {
    display: none;
}

.headline-block.filtered {
    display: block;
}

.headline-data {
    position: relative;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    mix-blend-mode: difference;
}

.headline-data.blur {
    opacity: .85;
    -webkit-filter: blur(16px);
    filter: blur(16px);
    z-index: -1;
}

.headline-data div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: var(--general-margin);
}

.headline-data .date p {
    font-weight: 300;
    font-size: var(--large-txt-size);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.headline-data .title {
    margin-bottom: 4px;
}

.headline-data .title h2 {
    max-width: 75vw;
    font-weight: 400;
    font-size: var(--large-txt-size);
    color: var(--white);
    pointer-events: all;
    word-break: break-word;
    display: inline;
    margin-right: var(--general-margin);
}

.headline-data .title a:hover {
    font-style: italic;
}

.headline-data p {
    font-weight: 400;
    font-size: var(--normal-txt-size);
    text-transform: uppercase;
    color: var(--white);
    display: inline;
}

.headline-data .title p {
    white-space: nowrap;
}

.headline-cover {
    width: 350px;
    position: absolute;
    top: -1rem;
    left: var(--random-position);
    pointer-events: all;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.headline-cover img {
    width: 100%;
    opacity: .85;
    -webkit-filter: blur(64px);
    filter: blur(64px);
    will-change: opacity, filter;
    -webkit-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    -o-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
}

.headline-cover img:hover {
    opacity: .95;
    -webkit-filter: blur(16px);
    filter: blur(16px);
    cursor: pointer;
}

.headline-cover img.unblur {
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
}

.gallery-section {
    min-height: var(--section-height);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4rem;
}

.gallery-wrapper,
.video-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 4rem 1fr 4rem 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 4rem;
}

.gallery-wrapper img {
    width: 100%;
    opacity: .85;
    -webkit-filter: blur(64px);
    filter: blur(64px);
    will-change: opacity, filter;
    -webkit-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    -o-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
}

.video-wrapper figure {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column: 1;
    grid-column-end: 3;
    opacity: .5;
    -webkit-filter: blur(64px);
    filter: blur(64px);
    will-change: opacity, filter;
    -webkit-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    -o-transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
    transition: all .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
}

.video-wrapper video {
    width: 100%;
    height: 75vh;
    background-color: var(--txt-color);
}

.video-wrapper figcaption {
    font-weight: 400;
    margin-top: var(--general-margin);
}

.gallery-wrapper img:hover,
.video-wrapper figure:hover {
    opacity: .95;
    -webkit-filter: blur(16px);
    filter: blur(16px);
    cursor: pointer;
}

.gallery-wrapper img.unblur,
.video-wrapper figure.unblur {
    position: relative;
    z-index: 3;
    opacity: 1;
    -webkit-filter: blur(0px);
    filter: blur(0px);
    cursor: unset;
}

.gallery-wrapper img:first-of-type {
    -ms-grid-column: 3;
    grid-column: 3;
    grid-column-start: 3;
}

.logo-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    mix-blend-mode: multiply;
}

.logo-wrapper img {
    width: 48px;
    -o-object-fit: contain;
    object-fit: contain;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.info-section {
    min-height: var(--section-height);
    width: calc(100% - var(--main-margin-x)*2);
    position: absolute;
    top: var(--main-margin-y);
    left: var(--main-margin-x);
    pointer-events: none;
}

.info-section .headline-block {
    margin-bottom: var(--main-margin-x);
}

.info-section .headline-data .title h2:hover {
    font-style: normal;
}

.info-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: var(--main-margin-x);
}

.info-wrapper.blur {
    opacity: .85;
    -webkit-filter: blur(16px);
    filter: blur(16px);
}

.info-wrapper.blur p,
.info-wrapper.blur a,
.info-wrapper.blur img {
    pointer-events: none;
}

.info-column {
    -webkit-box-flex: 1;
    -ms-flex: 1 0;
    flex: 1 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--general-margin);
}

.info-column p,
.info-column a,
.info-column img {
    pointer-events: all;
}

.info-column:last-of-type {
    font-weight: 400;
}

figcaption a,
.info-column p a,
.popup p a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.page-label {
    position: fixed;
    right: calc(var(--general-margin)/2);
    top: 50%;
    z-index: 8;
    pointer-events: none;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: var(--general-margin);
    -webkit-transform: rotate(90deg) translate(50%, 100%) translate3d(0, 0, 0);
    -ms-transform: rotate(90deg) translate(50%, 100%) translate3d(0, 0, 0);
    transform: rotate(90deg) translate(50%, 100%) translate3d(0, 0, 0);
    -webkit-transform-origin: right;
    -ms-transform-origin: right;
    transform-origin: right;
}

.page-label svg {
    width: var(--large-txt-size);
    stroke: var(--txt-color);
    stroke-width: .5px;
}

.page-label p {
    font-size: var(--small-txt-size);
    font-weight: 400;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    pointer-events: all;
    cursor: pointer;
}

.about-popup-open {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    max-height: calc(100% - 4rem);
    z-index: 9;
    opacity: 0;
    pointer-events: none;
    background: rgba(255, 255, 255, 0.1);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border: solid 2px var(--txt-color);
    border-radius: 40px;
}

.popup-wrapper {
    width: 100%;
    height: 100%;
    padding: calc(var(--general-margin)*2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: var(--general-margin);
    overflow-y: scroll;
    scrollbar-width: 0;
}

.popup-wrapper::-webkit-scrollbar {
    display: none;
}

.popup-content {
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

.popup-blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: var(--general-margin);
}

.popup-blocks h2 {
    font-size: var(--normal-txt-size);
    font-weight: 800;
    text-transform: uppercase;
}

.popup-blocks p {
    font-weight: 400;
    cursor: text;
}

.popup-close {
    position: sticky;
    top: 0;
    width: 1rem;
    stroke: var(--txt-color);
    stroke-width: 2px;
    display: block;
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.popup-close:hover {
    stroke: var(--white);
}

.identity-wrappper {
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    overflow: visible;
    z-index: 9;
    mix-blend-mode: difference;
}

.identity-wrappper svg {
    display: block;
    width: 160px;
    fill: var(--white);
}

.cursor {
    position: absolute;
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    -ms-transform: translate(-50%, -50%) translateZ(0);
    transform: translate(-50%, -50%) translateZ(0);
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: 50%;
    background-color: var(--white);
    z-index: -1;
    pointer-events: none;
    will-change: background-color;
    overflow: hidden;
    display: none;
}

.cursor.change-z-index {
    opacity: .5;
    z-index: 9;
}

.cursor.change-background {
    background-color: var(--txt-color);
}

.on-mobile {
    display: none;
}

.show {
    opacity: 1;
    pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {

    img[data-lazyload] {
        -webkit-transition: .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
        -o-transition: .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
        transition: .5s cubic-bezier(0.86, 0.07, 0.07, 0.96);
        -webkit-transition-property: all;
        -o-transition-property: all;
        transition-property: all;
        will-change: opacity, filter;
    }
}

@media screen and (max-width: 720px) {
    body {
        cursor: auto;
    }

    .on-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .cursor {
        display: none !important;
    }

    header {
        width: calc(100% - var(--general-margin));
        top: calc(var(--general-margin)/2);
        left: calc(var(--general-margin)/2);
    }

    footer {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .menu {
        pointer-events: all;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .menu,
    .submenu-wrapper {
        border: solid 2px var(--txt-color);
        border-radius: 80px;
        position: relative;
    }

    .menu::before,
    .submenu-wrapper::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 80px;
        background: rgba(255, 255, 255, 0.1);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(20px);
        pointer-events: none;
        z-index: -1;
    }

    .menu .menu-link:not(:first-child) {
        display: none;
    }

    .menu-block {
        position: relative;
        border: none;
        padding: var(--normal-txt-size) var(--general-margin);
    }

    .menu-block::before {
        content: none;
    }

    .menu .menu-block:nth-child(2) {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        max-width: 50%;
    }

    .menu-close {
        position: absolute;
        left: 0;
        -webkit-transform: translateX(-.5rem);
        -ms-transform: translateX(-.5rem);
        transform: translateX(-.5rem);
    }

    .menu-close:hover {
        stroke: var(--txt-color);
        mix-blend-mode: unset;
    }

    .submenu .menu-block {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding: 0;
        gap: calc(var(--general-margin)/2);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .submenu-wrapper {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: var(--normal-txt-size) var(--general-margin);
        gap: var(--main-margin-x);
    }

    .contact-wrapper {
        -webkit-box-orient: unset;
        -webkit-box-direction: unset;
        -ms-flex-direction: unset;
        flex-direction: unset;
    }

    .page-title.home:hover,
    .page-title.projects:hover,
    .menu-link:hover,
    .page-label p:hover,
    a:hover {
        color: var(--txt-color);
    }


    .events-wrapper {
        min-width: unset;
    }

    .headline-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: var(--general-margin);
    }

    .headline-data .title {
        max-width: auto;
    }

    .headline-data .title p {
        white-space: normal;
    }

    .headline-cover {
        width: 100%;
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .headline-cover img {
        width: 100%;
    }

    .headline-data.blur {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .section-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        gap: var(--general-margin);
    }

    .info-section {
        min-height: unset;
        width: 100%;
        position: static;
        padding-bottom: 0;
    }

    .info-wrapper {
        width: 95%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .info-wrapper.blur {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .gallery-section {
        min-height: unset !important;
    }

    .gallery-wrapper {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .gallery-wrapper img:first-of-type {
        -ms-grid-column: 2;
        grid-column: 2;
        grid-column-start: 2;
    }

    .headline-cover img.scroll-unblur,
    .gallery-wrapper img.scroll-unblur,
    .video-wrapper video.scroll-unblur {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .popup {
        width: calc(100% - var(--general-margin)*2);
        height: 100%;
    }

    .popup-wrapper {
        padding-left: var(--general-margin);
        padding-right: var(--general-margin);
    }

    .popup-blocks .button {
        -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    }
}

@media screen and (max-device-width: 420px) and (-webkit-min-device-pixel-ratio: 2) {
    .menu .menu-block:first-of-type {
        display: none;
    }

    .menu .menu-block:last-of-type {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: unset;
    }

    .menu-close {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .info-section .headline-block {
        margin-bottom: calc(var(--main-margin-y)/2);
    }

    .headline-data .title {
        margin-bottom: 0;
    }

    .headline-data p {
        display: block;
    }

    .gallery-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: var(--general-margin);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    .identity-wrappper {
        bottom: 1rem;
        right: 1rem;
    }

    .identity-wrappper svg {
        width: 80px;
    }

    .identity-wrappper svg .naming {
        display: none;
    }
}

@media screen and (max-device-width: 915px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
    .cursor {
        display: none !important;
    }

    :root {
        --main-margin-y: 25vh;
    }

    .submenu-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .headline-cover {
        width: 250px;
    }

    .section-wrapper,
    .main-wrapper {
        position: relative;
    }

    .headline-cover img.scroll-unblur,
    .gallery-wrapper img.scroll-unblur,
    .video-wrapper video.scroll-unblur {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}

@media screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    .menu .menu-block:first-of-type {
        display: none;
    }

    .menu .menu-block:last-of-type {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        max-width: unset;
    }

    .menu-close {
        position: static;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .submenu-wrapper {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .submenu-wrapper .page-title.home,
    .submenu-wrapper .page-title.projects {
        display: none;
    }

    .section-wrapper,
    .main-wrapper {
        position: relative;
    }

    .info-section .headline-block {
        margin-bottom: calc(var(--main-margin-y)/2);
    }

    .headline-cover {
        width: 100%;
    }

    .headline-data .title {
        margin-bottom: 0;
    }

    .gallery-wrapper {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: var(--general-margin);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content;
    }

    .headline-cover img.scroll-unblur,
    .gallery-wrapper img.scroll-unblur,
    .video-wrapper video.scroll-unblur {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }

    .identity-wrappper {
        bottom: 1rem;
        right: 1rem;
    }

    .identity-wrappper svg {
        width: 80px;
    }

    .identity-wrappper svg .naming {
        display: none;
    }
}