:root {
    --doc-height: 100%;
    --txt-color: #000;
    --bg-color: #e7e7e7;
    --white: #fff;
    --normal-txt-size: .8rem;
    /* --large-txt-size: 3.5rem; */
    --large-txt-size: calc(1.5vw + 2rem);
    --small-txt-size: .6rem;
    --menu-height: 3rem;
    --general-margin: 1rem;
    --main-margin: 7rem 4rem;
    /* --large-margin: 6rem; */
    --large-margin: 5vw;
    --random-left: 55%
}

body {
    font-family: forma-djr-text, sans-serif;
    font-weight: 700;
    font-size: .9rem;
    line-height: 1.3;
    background-color: var(--bg-color);
    position: relative;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

footer {
    font-weight: 400;
    font-size: var(--normal-txt-size);
    position: absolute;
    bottom: var(--general-margin);
    left: 50%;
    transform: translate(0, -50%);
    text-align: center;
    z-index: 999;
}

header {
    width: calc(100% - var(--general-margin)*2);
    position: fixed;
    top: var(--general-margin);
    left: var(--general-margin);
    z-index: 999;
}

.menu,
.submenu {
    display: flex;
    flex-wrap: wrap;
    gap: var(--general-margin);
}

.menu {
    top: var(--general-margin);
    margin-bottom: var(--general-margin);
}

.submenu {
    opacity: 0;
    pointer-events: none;
}

.current,
.page-title {
    border-bottom: 1px solid var(--txt-color);
}

.page-title,
.menu-link {
    font-size: var(--normal-txt-size);
    font-weight: 800;
    text-transform: uppercase;
    white-space: nowrap;
}

.current,
.menu-link {
    cursor: pointer;
}

.menu-block {
    height: var(--menu-height);
    padding: 0 3.5rem;
    border: solid 2px var(--txt-color);
    border-radius: 80px;
    flex: 0 1;
    display: flex;
    align-items: center;
    gap: var(--large-margin);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.menu-close {
    width: 1rem;
    stroke: var(--txt-color);
    stroke-width: 2px;
    display: block;
    cursor: pointer;
    opacity: 0;
    pointer-events: 0;
    transition: all .5s ease;
}

.menu .menu-block:nth-child(2) {
    flex: 1 0;
    justify-content: space-between;
}

.show {
    opacity: 1;
    pointer-events: all;
}

.submenu .menu-block {
    flex: 1 0;
    justify-content: space-between;
}

.submenu-wrapper {
    display: flex;
    align-items: center;
    gap: var(--large-margin);
}

.submenu-wrapper svg {
    width: 1.2rem;
    stroke: var(--txt-color);
    stroke-width: 2.5px;
    display: block;
}

main {
    padding: var(--main-margin);
    min-height: var(--doc-height);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

.events-wrapper {
    width: max-content;
    min-width: 360px;
}

.headline-block {
    position: relative;
    pointer-events: none;
}

/* .headline-block:not(:last-of-type) {
    margin-bottom: var(--large-margin);
} */

.headline-block.unfiltered {
    display: none;
}

.headline-block.filtered {
    display: block;
}

.headline-data {
    mix-blend-mode: difference;
}

.headline-data.blur {
    opacity: .85;
    filter: blur(16px);
}

.headline-data div {
    width: fit-content;
}

.headline-data .date h3 {
    font-weight: 300;
    font-size: var(--large-txt-size);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--white);
}

.headline-data .title {
    display: flex;
    gap: 2.5rem;
    align-items: baseline;
}

.headline-data .title h2 {
    font-weight: 400;
    font-size: var(--large-txt-size);
    color: var(--white);
    pointer-events: all;
}

.headline-data .title h2:hover {
    font-style: italic;
}

.headline-data p {
    font-weight: 400;
    font-size: var(--normal-txt-size);
    text-transform: uppercase;
    color: var(--white);
}

.headline-cover {
    width: 344px;
    position: absolute;
    top: -1rem;
    left: calc(55% + var(--random-left));
    pointer-events: all;
}

.headline-cover img {
    width: 100%;
    opacity: .85;
    filter: blur(72px);
    transition: opacity .5s ease, filter .25s ease-in-out;
}

.headline-cover img:hover {
    opacity: .95;
    filter: blur(32px);
    cursor: pointer;
}

.headline-cover.unblur img {
    opacity: 1;
    filter: blur(0px);
}

.events-separator {
    display: flex;
    align-items: center;
    gap: var(--general-margin);
    margin: 4rem 0;
}

.events-separator svg {
    width: var(--large-txt-size);
    stroke: var(--txt-color);
    stroke-width: .5px;
}

.events-separator p {
    font-size: var(--small-txt-size);
    font-weight: 400;
    letter-spacing: 0.32em;
    text-transform: uppercase;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.gallery-wrapper img {
    width: 100%;
    opacity: .85;
    filter: blur(72px);
    transition: opacity .5s ease, filter .25s ease-in-out;
}

.gallery-wrapper video {
    width: 100%;
    opacity: .5;
    filter: blur(72px);
    transition: opacity .5s ease, filter .25s ease-in-out;
}

.gallery-wrapper img:hover,
.gallery-wrapper video:hover {
    opacity: .95;
    filter: blur(32px);
    cursor: pointer;
}

.gallery-wrapper img.unblur,
.gallery-wrapper video.unblur {
    opacity: 1;
    filter: blur(0px);
}

.gallery-wrapper img:first-of-type {
    grid-column: 3;
}

.gallery-wrapper video {
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.logo-wrapper img {
    width: 48px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
}

.info-section {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--main-margin);
    pointer-events: none;
}

.info-section .headline-block {
    margin-bottom: var(--large-margin);
}

.info-section .headline-data .title h2:hover {
    font-style: normal;
}

.info-wrapper {
    display: flex;
    gap: var(--large-margin);
}

.info-wrapper.blur {
    opacity: .85;
    filter: blur(16px);
}

.info-wrapper.blur p,
.info-wrapper.blur a,
.info-wrapper.blur img {
    pointer-events: none;
}

.info-column {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.info-column p,
.info-column a,
.info-column img {
    pointer-events: all;
}

.info-column:last-of-type {
    font-weight: 400;
}

.project-wrapper {
    position: relative;
}