.event-block {
    margin-bottom: var(--large-margin);
}

.event-data .title h2:hover {
    font-style: normal;
}

.event-info {
    position: absolute;
    top: 0;
    left: 0;
    padding: var(--main-margin);
    pointer-events: none;
}

.gallery-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
}

.gallery-wrapper img {
    width: 100%;
    opacity: .85;
    filter: blur(72px);
    transition: opacity .5s ease, filter .25s ease-in-out;
}

.gallery-wrapper video {
    width: 100%;
    opacity: .5;
    filter: blur(72px);
    transition: opacity .5s ease, filter .25s ease-in-out;
}

.gallery-wrapper img:hover,
.gallery-wrapper video:hover {
    opacity: .95;
    filter: blur(32px);
    cursor: pointer;
}

.gallery-wrapper img.unblur,
.gallery-wrapper video.unblur {
    opacity: 1;
    filter: blur(0px);
}

.gallery-wrapper img:first-of-type {
    grid-column: 3;
}

.gallery-wrapper video {
    grid-column-start: 1;
    grid-column-end: 3;
}

.logo-wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

.logo-wrapper img {
    width: 48px;
    filter: grayscale(1);
    mix-blend-mode: multiply;
}